{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}MkulimaApp - Home Page{% endblock %}

{% block content %}
    
    <div class="row">
        <div class="container dashboard">
            <div class="col-sm-3" >
                <div class="row">
                    <div class="list-group">
                       
                        <a href="{{ url_for('main.index') }}" class="list-group-item selected">Notify A farmer</a>
                        <a href="{{ url_for('main.add_farmer') }}" class="list-group-item">Add Farmer</a>
                        <a href="{{ url_for('main.view_messages') }}" class="list-group-item">View Reports</a>

                    </div>
                </div>
            </div>

            <div class="col-sm-9">
                <div class="row">
                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning" alert-dismissible" role="alert>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                            {{ message }}                    
                        </div>
                    {% endfor %}
                  
                    
                    <div class="col-sm-11 col-sm-offset-1">
                        {% block dashboard %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}