{% extends "main/index.html" %}

{% block dashboard %}

    <div class="row heading">
        <div class="col-md-3">Sent To</div>
        <div class="col-md-3">Message</div>
        
        
    </div>
    <br/>
    
    {% for message in messages %}
        <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">{{message.farmers_name}}</div>
                <div class="col-md-2">{{message.message}}</div>
                
                
            </div>
        </div>
        </div>
    {%endfor%}

    
{% endblock dashboard %}